body{
  background: #eef0f6;
  color: black;;
}


.navbar-default {
  background: #094d74;
}
.navbar-default .navbar-nav>li>a{
  color: white;
  font-size: 20px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
  background-color: #eef0f6;
}

.container img{
  border-radius: 2%;
}


#skills{
  border-top: 2px solid #094d74;
  border-right: 2px solid #094d74;
}

#history{
  font-weight: bold;
}

.thumbnail{
  background: #cfdaec;
  border-radius: 2%;
}

.jumbotron{
  background-color: #cfdaec;
  border-top: 2px solid #094d74;
  border-right: 2px solid #094d74;

}

.middle-skills{
border: 5px solid black;
}

.bottom{
  color: white;
  border-right: 2px solid black;
  background: #094d74;
}

footer{
  border-radius: 2%;
}

a{
  color: white;
}
